# Caddyfile for Concord Dashboard
# https://caddyserver.com/docs/caddyfile

{
	log {
		level ERROR
	}
}

# Local development (self-signed certificate)
localhost, 10.7.7.7, {$PUBLIC_IP:localhost} {
	tls internal
	reverse_proxy concord:8080
}
